<h1>ホーム</h1>

<div class= "logout_button">
  <li><%= link_to 'LOGOUT', destroy_user_session_path, method: :delete %></li>
</div>

<h2>ユーザー一覧</h2>
<div class = "user_list">
  <% if @users.nil? %>
    'anonymous'
  <% else %>
    <% @users.each do |user| %>
      <%= link_to rooms_create_path(@users) do %>
        <%= user.name %>
      <% end %>
    <% end %>
  <% end %>
</div>








