<h1><%= @user[0].name %>さんのホーム</h1>

<div class= "logout_button">
  <ul style="list-style: none;">
    <li><%= button_to 'LOGOUT', destroy_user_session_path, method: :delete %></li>
  </ul>
</div>

<h2>トークができるユーザーの一覧</h2>
<div class = "user_list">
  <% if @users.blank? %>
    ※トークができるユーザーがいません。
  <% else %>
    <% @users.each do |user| %>
      <%= link_to user.name ,rooms_create_path(current_user_id: current_user.id, user_id: user.id), method: :post %>
    <% end %>
  <% end %>
</div>








