<h1>ホーム</h1>

<div class= "logout_button">
  <li><%= link_to 'LOGOUT', destroy_user_session_path, method: :delete %></li>
</div>

<h2>ユーザー一覧</h2>
<div class = "user_list">
  <% if @other.nil? %>
    'anonymous'
  <% else %>
    <% @other.each do |ur| %>
      <%= link_to rooms_create_path(@other) do %>
        <%= @other.name %>
      <% end %>
    <% end %>
  <% end %>
</div>








