// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.user_list{
  padding: 0px;
  display:flex;
  flex-flow: column;
}

.logout_button{
  text-align: right;
}